#imCell_1 { display: block; position: relative; overflow: hidden; width: 1072px; min-height: 33px; padding-top: 1px; padding-bottom: 1px; padding-left: 15px; padding-right: 1px;}
#imCellStyle_1 { position: relative; width: 1062px; min-height: 23px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 1px; bottom: 1px; left: 15px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_1 { position: absolute; top: 54px; bottom: 54px; left: 80px; right: 80px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_1 { position: absolute; bottom: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_1 { position: absolute; bottom: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_1 { position: absolute; bottom: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_1 { position: absolute; top: 54px; bottom: 54px; left: 0; width: 80px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_1 { position: absolute; top: 54px; bottom: 54px; right: 0; width: 80px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_1 { position: absolute; top: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_1 { position: absolute; top: 0; left: 0; width: 80px; height: 54px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_1 { position: absolute; top: 0; right: 0; width: 80px; height: 54px; background: transparent url('../') repeat right top;}
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #000000; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 270px; min-height: 273px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_2 { position: relative; width: 246px; min-height: 223px; padding: 30px 12px 20px 12px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_2 { position: absolute; top: 92px; bottom: 92px; left: 126px; right: 126px; background: transparent url('../images/7.png') repeat center center;}
#imCellStyleGraphicsB_2 { position: absolute; bottom: 0; left: 126px; right: 126px; height: 92px; background: transparent url('../images/7_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_2 { position: absolute; bottom: 0; left: 0; width: 126px; height: 92px; background: transparent url('../images/7_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_2 { position: absolute; bottom: 0; right: 0; width: 126px; height: 92px; background: transparent url('../images/7_br.png') repeat right bottom;}
#imCellStyleGraphicsL_2 { position: absolute; top: 92px; bottom: 92px; left: 0; width: 126px; background: transparent url('../images/7_l.png') repeat-y left center;}
#imCellStyleGraphicsR_2 { position: absolute; top: 92px; bottom: 92px; right: 0; width: 126px; background: transparent url('../images/7_r.png') repeat-y right center;}
#imCellStyleGraphicsT_2 { position: absolute; top: 0; left: 126px; right: 126px; height: 92px; background: transparent url('../images/7_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_2 { position: absolute; top: 0; left: 0; width: 126px; height: 92px; background: transparent url('../images/7_tl.png') repeat left top;}
#imCellStyleGraphicsTR_2 { position: absolute; top: 0; right: 0; width: 126px; height: 92px; background: transparent url('../images/7_tr.png') repeat right top;}
#imCellStyle_2 > a { display: block; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 806px; min-height: 265px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_3 { position: relative; width: 776px; min-height: 201px; padding: 15px 15px 49px 15px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; opacity: 0.6; filter: alpha(opacity = 60);}
#imCellStyleGraphicsC_3 { position: absolute; top: 74px; bottom: 74px; left: 98px; right: 98px; background: transparent url('../images/24.png') repeat center center;}
#imCellStyleGraphicsB_3 { position: absolute; bottom: 0; left: 98px; right: 98px; height: 74px; background: transparent url('../images/24_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_3 { position: absolute; bottom: 0; left: 0; width: 98px; height: 74px; background: transparent url('../images/24_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_3 { position: absolute; bottom: 0; right: 0; width: 98px; height: 74px; background: transparent url('../images/24_br.png') repeat right bottom;}
#imCellStyleGraphicsL_3 { position: absolute; top: 74px; bottom: 74px; left: 0; width: 98px; background: transparent url('../images/24_l.png') repeat-y left center;}
#imCellStyleGraphicsR_3 { position: absolute; top: 74px; bottom: 74px; right: 0; width: 98px; background: transparent url('../images/24_r.png') repeat-y right center;}
#imCellStyleGraphicsT_3 { position: absolute; top: 0; left: 98px; right: 98px; height: 74px; background: transparent url('../images/24_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_3 { position: absolute; top: 0; left: 0; width: 98px; height: 74px; background: transparent url('../images/24_tl.png') repeat left top;}
#imCellStyleGraphicsTR_3 { position: absolute; top: 0; right: 0; width: 98px; height: 74px; background: transparent url('../images/24_tr.png') repeat right top;}
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_3_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff3 { font-family: "Verdana", sans-serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imCell_4 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 35px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_4 { position: relative; width: 240px; min-height: 21px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_4 { position: absolute; top: 40px; bottom: 40px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_4 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 40px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_4 { position: absolute; bottom: 0; left: 0; width: 86px; height: 40px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_4 { position: absolute; bottom: 0; right: 0; width: 86px; height: 40px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_4 { position: absolute; top: 40px; bottom: 40px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_4 { position: absolute; top: 40px; bottom: 40px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_4 { position: absolute; top: 0; left: 86px; right: 86px; height: 40px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_4 { position: absolute; top: 0; left: 0; width: 86px; height: 40px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_4 { position: absolute; top: 0; right: 0; width: 86px; height: 40px; background: transparent url('../') repeat right top;}
#imTextObject_4_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_4_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_4_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_4_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_4_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_4_tab0 p { margin: 0; padding: 0; }
#imTextObject_4_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_4_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 .imUl { text-decoration: underline; }
#imTextObject_4_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_4_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_4_tab0 .cf1 { color: #000000; }
#imTextObject_4_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_4_tab0 .cf3 { color: #000000; }
#imTextObject_4_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_4_tab0 .cb1 { background-color: #000000; }
#imTextObject_4_tab0 .cb2 { background-color: transparent; }
#imTextObject_4_tab0 .cb3 { background-color: #000000; }
#imCell_5 { display: block; position: relative; overflow: hidden; width: 814px; min-height: 221px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_5 { position: relative; width: 794px; min-height: 201px; padding: 10px 10px 10px 10px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_5 { position: absolute; top: 56px; bottom: 56px; left: 87px; right: 87px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_5 { position: absolute; bottom: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_5 { position: absolute; bottom: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_5 { position: absolute; bottom: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_5 { position: absolute; top: 56px; bottom: 56px; left: 0; width: 87px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_5 { position: absolute; top: 56px; bottom: 56px; right: 0; width: 87px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_5 { position: absolute; top: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_5 { position: absolute; top: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_5 { position: absolute; top: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right top;}
#imTextObject_5_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_5_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_5_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_5_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_5_tab0 p { margin: 0; padding: 0; }
#imTextObject_5_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_5_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_5_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_5_tab0 .imUl { text-decoration: underline; }
#imTextObject_5_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_5_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_5_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_5_tab0 .ff3 { font-family: "Verdana", sans-serif; }
#imTextObject_5_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_5_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_5_tab0 .cf1 { color: #000000; }
#imTextObject_5_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_5_tab0 .cf3 { color: #F68627; }
#imTextObject_5_tab0 .cf4 { color: #008C94; }
#imTextObject_5_tab0 .cf5 { color: #000000; }
#imTextObject_5_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_5_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_5_tab0 .cb1 { background-color: #000000; }
#imTextObject_5_tab0 .cb2 { background-color: transparent; }
#imTextObject_5_tab0 .cb3 { background-color: #F68627; }
#imTextObject_5_tab0 .cb4 { background-color: #008C94; }
#imTextObject_5_tab0 .cb5 { background-color: #000000; }
#imCell_7 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 34px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_7 { position: relative; width: 240px; min-height: 20px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_7 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_7 { position: absolute; top: 61px; bottom: 61px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_7 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_7 { position: absolute; bottom: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_7 { position: absolute; bottom: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_7 { position: absolute; top: 61px; bottom: 61px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_7 { position: absolute; top: 61px; bottom: 61px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_7 { position: absolute; top: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_7 { position: absolute; top: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_7 { position: absolute; top: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right top;}
#imTextObject_7_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_7_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_7_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_7_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_7_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_7_tab0 p { margin: 0; padding: 0; }
#imTextObject_7_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_7_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_7_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_7_tab0 .imUl { text-decoration: underline; }
#imTextObject_7_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_7_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_7_tab0 .ff2 { font-family: "Vani", sans-serif; }
#imTextObject_7_tab0 .ff3 { font-family: "Vani", sans-serif; }
#imTextObject_7_tab0 .ff4 { font-family: "Verdana", sans-serif; }
#imTextObject_7_tab0 .cf1 { color: #000000; }
#imTextObject_7_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_7_tab0 .cf3 { color: #000000; }
#imTextObject_7_tab0 .cf4 { color: #000000; }
#imTextObject_7_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_7_tab0 .cb1 { background-color: #000000; }
#imTextObject_7_tab0 .cb2 { background-color: transparent; }
#imTextObject_7_tab0 .cb3 { background-color: #000000; }
#imTextObject_7_tab0 .cb4 { background-color: #000000; }
#imCell_8 { display: block; position: relative; overflow: hidden; width: 814px; min-height: 167px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_8 { position: relative; width: 794px; min-height: 147px; padding: 10px 10px 10px 10px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_8 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_8 { position: absolute; top: 56px; bottom: 56px; left: 87px; right: 87px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_8 { position: absolute; bottom: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_8 { position: absolute; bottom: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_8 { position: absolute; bottom: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_8 { position: absolute; top: 56px; bottom: 56px; left: 0; width: 87px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_8 { position: absolute; top: 56px; bottom: 56px; right: 0; width: 87px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_8 { position: absolute; top: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_8 { position: absolute; top: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_8 { position: absolute; top: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right top;}
#imTextObject_8_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_8_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_8_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_8_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_8_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_8_tab0 p { margin: 0; padding: 0; }
#imTextObject_8_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_8_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_8_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_8_tab0 .imUl { text-decoration: underline; }
#imTextObject_8_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_8_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_8_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_8_tab0 .ff3 { font-family: "Verdana", sans-serif; }
#imTextObject_8_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_8_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_8_tab0 .cf1 { color: #000000; }
#imTextObject_8_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_8_tab0 .cf3 { color: #F68627; }
#imTextObject_8_tab0 .cf4 { color: #008C94; }
#imTextObject_8_tab0 .cf5 { color: #000000; }
#imTextObject_8_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_8_tab0 .cb1 { background-color: #000000; }
#imTextObject_8_tab0 .cb2 { background-color: transparent; }
#imTextObject_8_tab0 .cb3 { background-color: #F68627; }
#imTextObject_8_tab0 .cb4 { background-color: #008C94; }
#imTextObject_8_tab0 .cb5 { background-color: #000000; }
#imCell_9 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 75px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_9 { position: relative; width: 240px; min-height: 61px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_9 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_9 { position: absolute; top: 47px; bottom: 47px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_9 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 47px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_9 { position: absolute; bottom: 0; left: 0; width: 86px; height: 47px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_9 { position: absolute; bottom: 0; right: 0; width: 86px; height: 47px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_9 { position: absolute; top: 47px; bottom: 47px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_9 { position: absolute; top: 47px; bottom: 47px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_9 { position: absolute; top: 0; left: 86px; right: 86px; height: 47px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_9 { position: absolute; top: 0; left: 0; width: 86px; height: 47px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_9 { position: absolute; top: 0; right: 0; width: 86px; height: 47px; background: transparent url('../') repeat right top;}
#imTextObject_9_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_9_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_9_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_9_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_9_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_9_tab0 p { margin: 0; padding: 0; }
#imTextObject_9_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_9_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_9_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_9_tab0 .imUl { text-decoration: underline; }
#imTextObject_9_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_9_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_9_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_9_tab0 .cf1 { color: #000000; }
#imTextObject_9_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_9_tab0 .cf3 { color: #000000; }
#imTextObject_9_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_9_tab0 .cb1 { background-color: #000000; }
#imTextObject_9_tab0 .cb2 { background-color: transparent; }
#imTextObject_9_tab0 .cb3 { background-color: #000000; }
#imCell_10 { display: block; position: relative; overflow: hidden; width: 814px; min-height: 98px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_10 { position: relative; width: 794px; min-height: 62px; padding: 10px 10px 26px 10px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_10 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_10 { position: absolute; top: 56px; bottom: 56px; left: 87px; right: 87px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_10 { position: absolute; bottom: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_10 { position: absolute; bottom: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_10 { position: absolute; bottom: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_10 { position: absolute; top: 56px; bottom: 56px; left: 0; width: 87px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_10 { position: absolute; top: 56px; bottom: 56px; right: 0; width: 87px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_10 { position: absolute; top: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_10 { position: absolute; top: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_10 { position: absolute; top: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right top;}
#imTextObject_10_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_10_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_10_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_10_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_10_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_10_tab0 p { margin: 0; padding: 0; }
#imTextObject_10_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_10_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_10_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_10_tab0 .imUl { text-decoration: underline; }
#imTextObject_10_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_10_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_10_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_10_tab0 .cf1 { color: #000000; }
#imTextObject_10_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_10_tab0 .cf3 { color: #000000; }
#imTextObject_10_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_10_tab0 .cb1 { background-color: #000000; }
#imTextObject_10_tab0 .cb2 { background-color: transparent; }
#imTextObject_10_tab0 .cb3 { background-color: #000000; }
#imCell_11 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 35px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_11 { position: relative; width: 240px; min-height: 21px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_11 { position: absolute; top: 61px; bottom: 61px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_11 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_11 { position: absolute; bottom: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_11 { position: absolute; bottom: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_11 { position: absolute; top: 61px; bottom: 61px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_11 { position: absolute; top: 61px; bottom: 61px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_11 { position: absolute; top: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_11 { position: absolute; top: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_11 { position: absolute; top: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right top;}
#imTextObject_11_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_11_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_11_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_11_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_11_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_11_tab0 p { margin: 0; padding: 0; }
#imTextObject_11_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_11_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_11_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_11_tab0 .imUl { text-decoration: underline; }
#imTextObject_11_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_11_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_11_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_11_tab0 .cf1 { color: #000000; }
#imTextObject_11_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_11_tab0 .cf3 { color: #000000; }
#imTextObject_11_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_11_tab0 .cb1 { background-color: #000000; }
#imTextObject_11_tab0 .cb2 { background-color: transparent; }
#imTextObject_11_tab0 .cb3 { background-color: #000000; }
#imCell_13 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 55px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_13 { position: relative; width: 240px; min-height: 41px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_13 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_13 { position: absolute; top: 61px; bottom: 61px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_13 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_13 { position: absolute; bottom: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_13 { position: absolute; bottom: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_13 { position: absolute; top: 61px; bottom: 61px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_13 { position: absolute; top: 61px; bottom: 61px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_13 { position: absolute; top: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_13 { position: absolute; top: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_13 { position: absolute; top: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right top;}
#imTextObject_13_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_13_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_13_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_13_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_13_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_13_tab0 p { margin: 0; padding: 0; }
#imTextObject_13_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_13_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 .imUl { text-decoration: underline; }
#imTextObject_13_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_13_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_13_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_13_tab0 .cf1 { color: #000000; }
#imTextObject_13_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_13_tab0 .cf3 { color: #000000; }
#imTextObject_13_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_13_tab0 .cb1 { background-color: #000000; }
#imTextObject_13_tab0 .cb2 { background-color: transparent; }
#imTextObject_13_tab0 .cb3 { background-color: #000000; }
#imCell_14 { display: block; position: relative; overflow: hidden; width: 814px; min-height: 291px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_14 { position: relative; width: 794px; min-height: 271px; padding: 10px 10px 10px 10px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_14 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_14 { position: absolute; top: 56px; bottom: 56px; left: 87px; right: 87px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_14 { position: absolute; bottom: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_14 { position: absolute; bottom: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_14 { position: absolute; bottom: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_14 { position: absolute; top: 56px; bottom: 56px; left: 0; width: 87px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_14 { position: absolute; top: 56px; bottom: 56px; right: 0; width: 87px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_14 { position: absolute; top: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_14 { position: absolute; top: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_14 { position: absolute; top: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right top;}
#imTextObject_14_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_14_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_14_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_14_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_14_tab0 p { margin: 0; padding: 0; }
#imTextObject_14_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_14_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 .imUl { text-decoration: underline; }
#imTextObject_14_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_14_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_14_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_14_tab0 .ff3 { font-family: "Verdana", sans-serif; }
#imTextObject_14_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_14_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_14_tab0 .cf1 { color: #000000; }
#imTextObject_14_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_14_tab0 .cf3 { color: #000000; }
#imTextObject_14_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_14_tab0 .cb1 { background-color: #000000; }
#imTextObject_14_tab0 .cb2 { background-color: transparent; }
#imTextObject_14_tab0 .cb3 { background-color: #000000; }
#imCell_15 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 118px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_15 { position: relative; width: 240px; min-height: 20px; padding: 3px 11px 95px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_15 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_15 { position: absolute; top: 61px; bottom: 61px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_15 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_15 { position: absolute; bottom: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_15 { position: absolute; bottom: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_15 { position: absolute; top: 61px; bottom: 61px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_15 { position: absolute; top: 61px; bottom: 61px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_15 { position: absolute; top: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_15 { position: absolute; top: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_15 { position: absolute; top: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right top;}
#imTextObject_15_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_15_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_15_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_15_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_15_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_15_tab0 p { margin: 0; padding: 0; }
#imTextObject_15_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_15_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_15_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_15_tab0 .imUl { text-decoration: underline; }
#imTextObject_15_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_15_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_15_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_15_tab0 .cf1 { color: #000000; }
#imTextObject_15_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_15_tab0 .cf3 { color: #000000; }
#imTextObject_15_tab0 .cf4 { color: #000000; }
#imTextObject_15_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_15_tab0 .cb1 { background-color: #000000; }
#imTextObject_15_tab0 .cb2 { background-color: transparent; }
#imTextObject_15_tab0 .cb3 { background-color: #000000; }
#imTextObject_15_tab0 .cb4 { background-color: #000000; }
#imCell_16 { display: block; position: relative; overflow: hidden; width: 814px; min-height: 126px; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px;}
#imCellStyle_16 { position: relative; width: 794px; min-height: 106px; padding: 10px 10px 10px 10px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_16 { position: absolute; top: 1px; bottom: 1px; left: 1px; right: 1px; background-color: transparent;}
#imCellStyleGraphicsC_16 { position: absolute; top: 56px; bottom: 56px; left: 87px; right: 87px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_16 { position: absolute; bottom: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_16 { position: absolute; bottom: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_16 { position: absolute; bottom: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_16 { position: absolute; top: 56px; bottom: 56px; left: 0; width: 87px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_16 { position: absolute; top: 56px; bottom: 56px; right: 0; width: 87px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_16 { position: absolute; top: 0; left: 87px; right: 87px; height: 56px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_16 { position: absolute; top: 0; left: 0; width: 87px; height: 56px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_16 { position: absolute; top: 0; right: 0; width: 87px; height: 56px; background: transparent url('../') repeat right top;}
#imTextObject_16_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_16_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_16_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_16_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_16_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_16_tab0 p { margin: 0; padding: 0; }
#imTextObject_16_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_16_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 .imUl { text-decoration: underline; }
#imTextObject_16_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_16_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_16_tab0 .ff4 { font-family: "Verdana", sans-serif; }
#imTextObject_16_tab0 .ff5 { font-family: "Verdana", sans-serif; }
#imTextObject_16_tab0 .ff6 { font-family: "Wingdings", sans-serif; }
#imTextObject_16_tab0 .cf1 { color: #000000; }
#imTextObject_16_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_16_tab0 .cf3 { color: #000000; }
#imTextObject_16_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_16_tab0 .cb1 { background-color: #000000; }
#imTextObject_16_tab0 .cb2 { background-color: transparent; }
#imTextObject_16_tab0 .cb3 { background-color: #000000; }
#imCell_17 { display: block; position: relative; overflow: hidden; width: 262px; min-height: 35px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_17 { position: relative; width: 240px; min-height: 21px; padding: 3px 11px 11px 11px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_17 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_17 { position: absolute; top: 61px; bottom: 61px; left: 86px; right: 86px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_17 { position: absolute; bottom: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_17 { position: absolute; bottom: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_17 { position: absolute; bottom: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_17 { position: absolute; top: 61px; bottom: 61px; left: 0; width: 86px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_17 { position: absolute; top: 61px; bottom: 61px; right: 0; width: 86px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_17 { position: absolute; top: 0; left: 86px; right: 86px; height: 61px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_17 { position: absolute; top: 0; left: 0; width: 86px; height: 61px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_17 { position: absolute; top: 0; right: 0; width: 86px; height: 61px; background: transparent url('../') repeat right top;}
#imTextObject_17_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_17_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_17_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_17_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_17_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_17_tab0 p { margin: 0; padding: 0; }
#imTextObject_17_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_17_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_17_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_17_tab0 .imUl { text-decoration: underline; }
#imTextObject_17_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_17_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_17_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_17_tab0 .cf1 { color: #000000; }
#imTextObject_17_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_17_tab0 .cf3 { color: #000000; }
#imTextObject_17_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_17_tab0 .cb1 { background-color: #000000; }
#imTextObject_17_tab0 .cb2 { background-color: transparent; }
#imTextObject_17_tab0 .cb3 { background-color: #000000; }
#imCell_18 { display: block; position: relative; overflow: hidden; width: 810px; min-height: 39px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_18 { position: relative; width: 804px; min-height: 21px; padding: 3px 3px 15px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_18 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_18_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_18_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_18_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_18_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_18_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_18_tab0 p { margin: 0; padding: 0; }
#imTextObject_18_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_18_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_18_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_18_tab0 .imUl { text-decoration: underline; }
#imTextObject_18_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_18_tab0 .ff1 { font-family: "Verdana", sans-serif; }
#imTextObject_18_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_18_tab0 .cf1 { color: #000000; }
#imTextObject_18_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_18_tab0 .cf3 { color: #000000; }
#imTextObject_18_tab0 .cf4 { color: #000000; }
#imTextObject_18_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_18_tab0 .cb1 { background-color: #000000; }
#imTextObject_18_tab0 .cb2 { background-color: transparent; }
#imTextObject_18_tab0 .cb3 { background-color: #000000; }
#imTextObject_18_tab0 .cb4 { background-color: #000000; }
#imCell_19 { display: block; position: relative; overflow: hidden; width: 810px; min-height: 217px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_19 { position: relative; width: 804px; min-height: 211px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_19 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_19_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_19_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_19_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_19_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_19_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_19_tab0 p { margin: 0; padding: 0; }
#imTextObject_19_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_19_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_19_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_19_tab0 .imUl { text-decoration: underline; }
#imTextObject_19_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_19_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_19_tab0 .ff2 { font-family: "Verdana", sans-serif; }
#imTextObject_19_tab0 .ff3 { font-family: "Verdana", sans-serif; }
#imTextObject_19_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_19_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_19_tab0 .cf1 { color: #000000; }
#imTextObject_19_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_19_tab0 .cf3 { color: #F68627; }
#imTextObject_19_tab0 .cf4 { color: #008C94; }
#imTextObject_19_tab0 .cf5 { color: #000000; }
#imTextObject_19_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_19_tab0 .cb1 { background-color: #000000; }
#imTextObject_19_tab0 .cb2 { background-color: transparent; }
#imTextObject_19_tab0 .cb3 { background-color: #F68627; }
#imTextObject_19_tab0 .cb4 { background-color: #008C94; }
#imTextObject_19_tab0 .cb5 { background-color: #000000; }
