html {position: relative; margin: 0; padding: 0; background-color: transparent; background-image: url('bg.png'); background-position: center top; background-repeat: repeat; background-attachment: fixed;}
body {margin: 0; padding: 0; text-align: left;}
#imPage {padding-top: 0px; margin: 0px auto 0px auto; width: 1100px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent;}
#imHeader {height: 165px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 0; left: 0;  height: -10px; width: 1090px; padding: 5px 5px 5px 5px; background-color: transparent;}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 1090px; padding: 5px 5px 5px 5px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 165px; bottom: 70px; left: 0; width: 1100px; background-color: transparent; background-image: url('content.png'); background-position: left top; background-repeat: repeat;}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 70px; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 70px; width: 1100px; background-color: transparent; background-image: url('bottom.png'); background-position: top left; background-repeat: no-repeat;}
